<div class="container">
    <div class="todo-container">
        <div class="heading">
            <h1>My To Dos</h1>
            <div class="top-icons">
                <span (click)="sortItems()"><fa-icon [icon]="faSort"></fa-icon></span>
                <span (click)="addToDoItem()"><fa-icon [icon]="faPlus"></fa-icon></span>
            </div>
            <!-- for dynamic value use [] -->
        </div>
        <div class="input-field">
            <input type="text" placeholder="Enter a task" #inputText [value]="inputValue" (input)="getInputValue(inputText.value)" />
        </div>
        <ul class="list-container">
            <app-item></app-item>
        </ul>
    </div>
</div>